.wrapper {
  padding: 0;
}

.active-state {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  padding: 16px;
}

.active-state-title {
  width: 100%;
  padding: 84px 0;
  text-align: center;
  flex: 1 1 100%;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  margin-bottom: 16px;
}

.layer-empty-title {
  padding: 130px 0;
}

.empty-state-wrapper {
  margin: 16px;
}

.empty-state {
  height: calc(100% - 32px);
  width: 100%;
  border: 1px solid #e5e5e5;
  text-align: center;
  margin-bottom: 16px;
  padding: 40px 0;
  border-radius: 6px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.empty-state__image {
  height: 64px;
  width: 64px;
  background-color: #18a0fb;
  border-radius: 100px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.empty-state__title {
  font-size: 13px;
  line-height: 1.3;
  color: #333333;
  margin: auto;
  padding-bottom: 16px;
}
